.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-fixed {
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}


section {
    padding: 9rem 0;
}

.slogan {
    text-align: left;
}

.slogan h1 {
    font-size: 7rem;
    color: var(--primary-color);
}

.slogan button {
    padding: 1rem 5rem;
    outline: none;
    border: none;
    background-color: var(--background-color);
    border: .125rem solid var(--primary-color);
    border-radius: 2rem;
    color: var(--primary-color);
    margin: 3rem 0;
    cursor: pointer;
    font-weight: 600;
    transition: .5s ease-in-out;
}

.slogan button:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.fullwidth {
    width: 100%;
}

#about img {
    border-radius: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
}


.about-slogan {
    padding: 4rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.about-slogan.start {
    transform: translateX(-10rem) !important;
}

.about-slogan h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: var(--grey);
}

.primary-color {
    color: var(--primary-color);
}

.food-menu {
    padding: 4rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.food-menu h1 {
    color: var(--grey);
}

.food-menu p {
    margin: 2rem 0;
}

.food-category {
    display: flex;
}

.food-category button {
    padding: .5rem 2.5rem;
    margin: 0 1rem;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.food-category button:hover,
.food-category button.active {
    background-color: var(--primary-color);
    color: var(--white);
}

.food-item-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 3rem;
}
.food-item {
    width: 25%;
    height: 30rem;
    padding: 1rem;
}

.item-wrap {
    height: 100%;
    transition: .4s ease-in-out;
    cursor: pointer;
    border-radius: 2rem;
}

.item-wrap:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.item-img {
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}

.img-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
    border-radius: 2rem;
}

.img-holder:hover {
    transform: scale(2) rotate(45deg);
}

.item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 1rem;
}

.item-info h3 {
    color: var(--grey);
}

.item-info>div:first-child {
    text-align: left;
}